body{
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;
}
.fondo-pink{
    background-color: #E83E8C;
}
.navbar-brand img{
    width: 132px;
    height: 53px;
}
nav a{
    font-size: 16px;
    font-weight: 400;
}
h1{
    font-weight: 700;
    font-size: 60px;
    color: #707070;
}
h5{
    font-weight: 700;
    font-size: 17px;
    
}
p{
    font-weight: 400;
    font-size: 16px;
}
.card-body a{
    font-size: 11px;
    font-weight: 400;
}
.icons-section{
    background-color: #17A2B8;
}
footer{
    margin-top: 150px;
}
.first-footer div i{
    font-size: 80px;
}
.suricata img{
    display: block;
    width: 53px;
    height: 100px;
    margin: auto;
}
